/*ESTO TIENE MENOS PESO EN CUANTO ID CLASS Y TAG
section div div{

}
*/

/*LOS SELECTORES COMO EN ESTE CASO EL ">" SON PARA TOMAR ELEMENTOS DESPUES DE LO QUE SE LE ESPECIFICA DEPENEDIENDO EL SELECTOR*/
section .gallery > div{
    height: 250px;
    width: 50%;
    background-color: darkorange;
    /*EL FLOAT ES PARA PEGAR LOS ELEMENTOS HACIA LA DIRECCIÓN QUE SE DESEA*/
    float: right;
    border: solid 2 px black;
    /*ES PARA ESPECIFICAR EL EL CONTENIDO ES CONTANDO LOS BORDES YA QUE CON EL BORDE ANTERIOR SE PASA DEL 100% Y NO CABEN TODOS LOS ELEMENTOS 
    Y ASÍ TOMA COMO EL 100% TAMBIÉN EL TAMAÑO DE LOS BORDES*/
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 15px;
    padding-right: 15px;
}

/*ESTO ES PARA QUE EL FOOTER PASE AL SIGUIENTE RENGLÓN Y NO SE QUEDE A UN LADO DE LOS ELEMENTOS */
section .gallery::after{
    content: "";
    display: table;
    clear: both;
}

.ing{
    float: right;
    margin-top: 50px;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.img-pp {
    margin-top: 25px;
    max-height: 200px;
    width: auto;
}

.foto{
    max-height: 250px;
    float: center;
}

.hobbies{
    transform: translate(-50%, 10%); /*ES PARA PODER TRASLADAR EL CENTRO AL 50% DE LA PÁGINA*/ /*SE PUEDE USAR PARA ROTAR EL ELEMENTO TAMBIÉN*/
    top: 50%;
    left: 50%;
    position: relative;
    width: 500px;
    height: 300px;
    background: greenyellow;
    text-align: center;
}

.fut{
    max-height: 250px;
    float: left;
    margin-left: 30px;
}

.ps4{
    max-height: 250px;
    float: right;
    margin-right: 30px;
}

.name {
    width: 45%;
    height: 250px;
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 20px;
    margin-right: 15px;
    float: left;
    background-color: lightgray;
  }

footer{
    background-color: aquamarine;
    margin-top: 30px;
    text-align: center;
}

.insta{
    max-height: 50px;
}

header{
    font-size: xx-large;
    font-family: fantasy;
    text-align: center;
}
/*BREAKPOINTS*/


/*CUANDO LA RESOLUCIÓN DE LA PANTALLA ES MENOR DE LO ESPECIFICADO EL ELEMENTO CAMBIA DE COLOR*/
@media screen and (max-width: 1023px) {
    section .gallery > div{
        background-color: darkgoldenrod;
        float: left;
        width: 80%;
        margin-left: 85px;
    }
    .foto{
        max-height: 100px;
    }
    .img-pp{
        max-height: 100px;
    }
}

/*SE TIENE QUE PONER EN ORDEN DE COMO VA A IR CAMBIANDO EL ELEMENTO */
@media screen and (max-width: 767PX) {
    section .gallery > div{
        background-color: blueviolet;
        color: antiquewhite;
        width: 95%;
        margin-left: 15px;
        float: left;
    }
    .foto{
        max-height: 100px;
    }
    .img-pp{
        max-height: 100px;
    }
}

@media screen and (max-width: 1023px) {
    aside{
        background-color: lightcoral;
        width: 80%;
        margin-left: 85px;  
    }
}

/*SE TIENE QUE PONER EN ORDEN DE COMO VA A IR CAMBIANDO EL ELEMENTO */
@media screen and (max-width: 767PX) {
    aside{
        background-color: darkblue;
        color:aliceblue;
        width: 95%;
        margin-left: 15px;
    }
}