section .gallery > div {
  width: 50%;
  background-color: darkorange;
  float: right;
  border: solid 2 px black;
  box-sizing: border-box;
  padding-right: 15px;
  margin-top: 20px;
  margin-right: 15px;
  height: 250px;
}

section .gallery::after {
  content: "";
  display: table;
  clear: both;
}

.name {
  width: 45%;
  padding-left: 15px;
  margin-left: 15px;
  float: left;
  background-color: lightgray;
  margin-top: 20px;
  margin-right: 15px;
  height: 250px;
}

.hobbies {
  transform: translate(-50%, 10%);
  top: 50%;
  left: 50%;
  position: relative;
  width: 500px;
  height: 300px;
  background: greenyellow;
  text-align: center;
}

.ing {
  float: right;
  margin-top: 50px;
  font-size: small;
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  font-size: xx-large;
  font-family: fantasy;
  text-align: center;
}

footer {
  background-color: aquamarine;
  margin-top: 30px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  section .gallery > div {
    width: 80%;
    margin-left: 85px;
    background-color: darkgoldenrod;
    float: left;
  }
  .foto {
    max-height: 100px;
  }
  .img-pp {
    max-height: 100px;
  }
  aside {
    width: 80%;
    margin-left: 85px;
    background-color: lightcoral;
  }
}
@media screen and (max-width: 720px) {
  section .gallery > div {
    width: 95%;
    margin-left: 15px;
    background-color: blueviolet;
    color: antiquewhite;
    float: left;
  }
  .foto {
    max-height: 100px;
  }
  .img-pp {
    max-height: 100px;
  }
  aside {
    width: 95%;
    margin-left: 15px;
    background-color: darkblue;
    color: aliceblue;
  }
}
