<div class="center">
    <div class="dentro">
        <h1>Proyectos</h1>
        <ul>
            <li>
                Página web con Juego tipo Jeopardy en JavaScript
            </li>
            <br>
            <br>
            <li>
                Reloj-Alarma para Horno de cocina con Ensamblador y Microcontrolador 8051
            </li>
            <br>
            <br>
            <li>
                Sensor de temperatura con FPGA Basys 3 en Verilog, con Arduino en C++
            </li>
            <br>
            <br>
            <li>
                Price Tracker, seguidor de precios de productos con Python 
            </li>
        </ul>
    </div>
</div>