$color-gallery-pc: darkorange;
$color-gallery-tablet: darkgoldenrod;
$color-gallery-mobile: blueviolet;

$color-aside-tablet: lightcoral;
$color-aside-mobile: darkblue;


$color-nombre: lightgray;

$color-footer: aquamarine;

$color-hobbies: greenyellow;