.center {
    text-align: center;
    line-height: 4em;
    font-weight: bold;
}
footer{
    clear: both;
    text-align: center;
    background-color: dimgrey;
    border-radius: 10px;
    border: solid 2px;
}
a{
    margin: 50px;
    color: black;
}
