<div class="center">
    <div class="dentro">
        <h1>Habilidades técnicas</h1>
        <ul>
            <li>
                Librerías de Microsoft Office
            </li>
            <br><br>
            <li>
                Python
            </li>
            <br><br>
            <li>
                Oracle SQL
            </li>
            <br><br>
            <li>
                JavaScript, CSS, HTML
            </li>
        </ul>
        <br><br><br>
        <h1>Habilidades lingüísticas</h1>
        <ul>
            <li>
                Ingles (Conversacional).
            </li>
        </ul>
    </div>
</div>