@import "breakpoints", "variables";

@mixin mheight{
    max-height: 100px;
}

@mixin conf_tablet{
    width: 80%;
    margin-left: 85px;
    @content
}

@mixin conf_mobile{
    width: 95%;
    margin-left: 15px;
    @content
}

@mixin margins_heights{
    margin-top: 20px;
    margin-right: 15px;
    height: 250px;

}

section .gallery > div{
    width: 50%;
    background-color: $color-gallery-pc;
    float: right;
    border: solid 2 px black;
    box-sizing: border-box;
    padding-right: 15px;
    @include margins_heights();
}

section .gallery::after{
    content: "";
    display: table;
    clear: both;
}

.name {
    width: 45%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    background-color: $color-nombre;
    @include margins_heights();

  }

.hobbies{
    transform: translate(-50%, 10%); 
    top: 50%;
    left: 50%;
    position: relative;
    width: 500px;
    height: 300px;
    background: $color-hobbies;
    text-align: center;
}

.ing{
    float: right;
    margin-top: 50px;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    font-size: xx-large;
    font-family: fantasy;
    text-align: center;
}

footer{
    background-color: $color-footer;
    margin-top: 30px;
    text-align: center;
}



@include tablet{
    section .gallery > div{
        @include conf_tablet{
            background-color: $color-gallery-tablet;
            float: left;
        }
    }
    .foto{
        @include mheight()
    }
    .img-pp{
        @include mheight()
    }

    aside{
        @include conf_tablet{
            background-color: $color-aside-tablet;
        }
    }
}

@include mobile{
    section .gallery > div{
        @include conf_mobile{
            background-color: $color-gallery-mobile;
            color: antiquewhite;
            float: left;
        }
    }
    .foto{
        @include mheight()
    }
    .img-pp{
        @include mheight()
    }

    aside{
        @include conf_mobile{
            background-color: $color-aside-mobile;
            color:aliceblue;
        }
    }
}